@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin: 8px 24px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.buttons {
  margin: 8px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.left-links {
  display: flex;
  padding: 16px;
  gap: 16px;
}

.right-links {
  display: flex;
  padding: 16px;
  gap: 16px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #6c5757ff;
}
