body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 800px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin-bottom: 10px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin-bottom: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
